
<section class="adminContainer">
    <header class="header">

    </header>
    <div class="mainCont">
      <aside class="sidebar">
        <div class="fixedBar">
          <ul>
            <li>
              <a>
                <img src="./assets/images/add.png" width="26" />
                New Event
              </a>
            </li>
            <li>
              <a>
                <img src="./assets/images/target.png" width="30" />
                Live<br/>Interceptor
              </a>
            </li>
            <li>
              <a>
                <img src="./assets/images/event.png" width="26" />
                events
              </a>
            </li>
            <li>
              <a>
                <img src="./assets/images/manager.png" width="30" />
                WatchList
              </a>
            </li>
            <li>
              <a>
                <img src="./assets/images/solved.png" width="24" />
                Solved
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <section class="wrapper">
        <router-outlet></router-outlet>
      </section>
    </div>
</section>





